name: Deploy Hugo site to Pages

on:
  push:
    branches: ["main"] # 如果你的主分支是 master，请改为 master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true # 虽然你用模块，但保留这个是好习惯
          fetch-depth: 0 # FixIt 需要完整的 Git 历史来显示文章最后修改时间

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20" # 必须安装 Go 才能下载 FixIt 模块

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.153.0" # 对应你 Vercel 成功的版本
          extended: true

      - name: Build with Hugo
        run: hugo --gc --minify --configDir config

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
